<form action="/create" method="post">
    <h2>Create todo</h2>

    <div class="input-field">
        <label>Todo title</label>
        <input type="text" name="title">
    </div>
    <button type="submit" class="btn">Create</button>
</form>
